<p><%= "Hi #{@user.name}"%></p>
<p><%= "Welcome to the online store, Please avail 40% discount on your first purchase using below code : FIRST40"%></p>
<p><u><b>Thanks,</b></u></p>
<p><u>Shop Manager</u></p>
